/* Color Theme Swatches in Hex */
/*
.principal { color: #00747C; }
.destaque { color: #00BBC9; }
.Teal-and-Gray-3-hex { color: #CACACA; }
.background { color: #878787; }
.Teal-and-Gray-5-hex { color: #202022; }
*/

html {
    background: #878787;
    color: #00747C;
}

